<div class="article_wrapper">
  <div class="container_nopadding py-7">
    <div class="lg:p-8 p-4 article">
      <h1>Terms & Conditions</h1>


      <h6 class="wp-block-heading">In using this website you are deemed to have read and agreed to the following terms
        and conditions. </h6>


      <h3 class="wp-block-heading">Privacy Statement</h3>


      <p>We are committed to protecting your privacy. Authorised employees within the company on a need to know basis
        only use any information collected from individual customers. We constantly review our systems and data to
        ensure the best possible service to our customers. Parliament has created specific offences for unauthorised
        actions against computer systems and data. We will investigate any such actions with a view to prosecuting
        and/or taking civil proceedings to recover damages against those responsible.</p>


      <h3 class="wp-block-heading">Confidentiality</h3>


      <p>Candidate records are regarded as confidential and therefore will not be divulged to any third party, other
        than if legally required to do so to the appropriate authorities. Candidates have the right to request sight of,
        and copies of any and all Candidates Records we keep, on the proviso that we are given reasonable notice of such
        a request. Candidates are requested to retain copies of any literature issued in relation to the provision of
        our services. Where appropriate, we shall issue Candidate’s with appropriate written information, handouts or
        copies of records as part of an agreed contract, for the benefit of both parties.</p>


      <p>We will not sell, share, or rent your personal information to any third party or use your e-mail address for
        unsolicited mail. Any emails sent by Jober24 will only be in connection with the provision of agreed services
        and products.</p>


      <h3 class="wp-block-heading">Employers</h3>


      <p>Jober24 makes no representation or warranty in respect of any of the following:</p>


      <ul class="wp-block-list">
        <li>the existence or availability of any appointment advertised on the Jober24 Site;</li>


        <li>that any Employer will ask for your CV, ask to interview you or recruit you;</li>


        <li>that any Employer will keep confidential any of your information or data provided to that employer or
          Candidate; or
        </li>


        <li>the final terms and duration of any appointment obtained through the Jober24 Site.</li>
      </ul>


      <h3 class="wp-block-heading">Exclusions and Limitations</h3>


      <p>The information on this website is provided on an “as is” basis. To the fullest extent permitted by law
        Jober24:</p>


      <ul class="wp-block-list">
        <li>excludes all representations and warranties relating to this website and its contents or which is or may be
          provided by any affiliates or any other third party, including in relation to any inaccuracies or omissions in
          this website and/or the Jober24’s literature; and
        </li>


        <li>excludes all liability for damages arising out of or in connection with your use of this website. This
          includes, without limitation, direct loss, loss of business or profits (whether or not the loss of such
          profits was foreseeable, arose in the normal course of things or you have advised Jober24 of the possibility
          of such potential loss), damage caused to your computer, computer software, systems and programs and the data
          thereon or any other direct or indirect, consequential and incidental damages.
        </li>
      </ul>


      <p>Jober24 does not however exclude liability for death or personal injury caused by its negligence. The above
        exclusions and limitations apply only to the extent permitted by law. None of your statutory rights as a
        consumer are affected.</p>


      <h3 class="wp-block-heading">Log Files</h3>


      <p>We use IP addresses to analyse trends, administer the site, track user’s movement, and gather broad demographic
        information for aggregate use. IP addresses are not linked to personally identifiable information. Additionally,
        for systems administration, detecting usage patterns and troubleshooting purposes, our web servers automatically
        log standard access information including browser type, access times/open mail, URL requested, and referral URL.
        This information is not shared with third parties and is used only within Jober24 on a need-to-know basis. Any
        individually identifiable information related to this data will never be used in any way different to that
        stated above without your explicit permission.</p>


      <h3 class="wp-block-heading">Cookies</h3>


      <p>Like most interactive web sites our website [or ISP] uses cookies to enable us to retrieve user details for
        each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use
        for those people visiting. Some of our affiliate partners may also use cookies</p>


      <h3 class="wp-block-heading">Links from this website</h3>


      <p>We do not monitor or review the content of other party’s websites which are linked to from this website.
        Opinions expressed or material appearing on such websites are not necessarily shared or endorsed by us and
        should not be regarded as the publisher of such opinions or material. Please be aware that we are not
        responsible for the privacy practices, or content, of these sites. We encourage our users to be aware when they
        leave our site &amp; to read the privacy statements of these sites. You should evaluate the security and
        trustworthiness of any other site connected to this site or accessed through this site yourself, before
        disclosing any personal information to them. Jober24 will not accept any responsibility for any loss or damage
        in whatever manner, howsoever caused, resulting from your disclosure to third parties of personal
        information.</p>


      <h3 class="wp-block-heading">Copyright Notice</h3>


      <p>Copyright and other relevant intellectual property rights exists on all text relating to the Jober24’s services
        and the full content of this website.</p>


      <h3 class="wp-block-heading">General</h3>


      <p>If any of these terms are deemed invalid or unenforceable for any reason (including, but not limited to the
        exclusions and limitations set out above), then the invalid or unenforceable provision will be severed from
        these terms and the remaining terms will continue to apply. Failure of the Jober24 to enforce any of the
        provisions set out in these Terms and Conditions and any Agreement, or failure to exercise any option to
        terminate, shall not be construed as waiver of such provisions and shall not affect the validity of these Terms
        and Conditions or of any Agreement or any part thereof, or the right thereafter to enforce each and every
        provision. These Terms and Conditions shall not be amended, modified, varied or supplemented except in writing
        and signed by duly authorised representatives of the Company.</p>


      <h3 class="wp-block-heading">Notification of Changes</h3>


      <p>We reserve the right to change these conditions from time to time as it sees fit and your continued use of the
        site will signify your acceptance of any adjustment to these terms. If there are any changes to our privacy
        policy, we will announce that these changes have been made on our home page and on other key pages on our site.
        If there are any changes in how we use our site customers’ Personally Identifiable Information, notification by
        e-mail or postal mail will be made to those affected by this change. Any changes to our privacy policy will be
        posted on our web site 30 days prior to these changes taking place. You are therefore advised to re-read this
        statement on a regular basis</p>
    </div>
  </div>
</div>
